<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
{% include head.html %}
<body>
    <!--[if lt IE 10]>
    <div class="alert-danger" role="alert">你的浏览器太旧了，需要更新。</div>
    <![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    <div class="visible">
      {{ content }}
    </div>
    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/index.js" | relative_url }}"></script>
</body>
</html>
